@import '../../styles';

.portfolio-skills {
  @include display-flex;
  @include flex-wrap;
  @include justify-content-center;
}

.portfolio-skills__card {
  padding: 20px 30px;
  margin: 30px;
  border-radius: 5px;
  @include box-shadow(30px);
}

.portfolio-skills__card-image {
  width: 120px;
  height: auto;
}

.portfolio-skills__card-name {
  padding: 10px;
}

.portfolio-skills__card:hover {
  @include animation-shake;
}
