@import '../../styles';

.portfolio-skills {
  @include display-flex;
  @include flex-wrap;
  @include justify-content-center;
}

.portfolio-skills__card {
  padding: 10px 25px;
  margin: 30px;
  border-radius: 5px;
  @include box-shadow(30px);
  background-color: $lightcyan;
  color: $dark;
}

.portfolio-skills__card-image {
  width: 120px;
  height: auto;
}

.portfolio-skills__card-name {
  padding: 5px;
}

.portfolio-skills__card:hover {
  // @include animation-shake;
}
