@import '../../styles';

.portfolio-skills {
  @include display-flex;
  @include justify-content-center;
}

.portfolio-skills__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2px;
  margin: 2rem;

  @media all and (max-width: $screen-md) {
    grid-template-columns: 1fr;
  }
}

.portfolio-skills__card {
  padding: 20px 20px;
  margin: 20px;
  border-radius: 5px;
  @include box-shadow(10px);
  background-color: $white;
  color: $dark;
  max-width: 220px;
  text-align: center;
}

.portfolio-skills__card-image {
  width: 120px;
  height: auto;
}

.portfolio-skills__card-name {
  padding: 5px;
}
