@import '../../styles';
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.portfolio-footer {
  @include display-flex-only;
  @include justify-content-center;
  @include flex-direction(column);
  color: $white;
  // background: $dark;
  padding: 2em;
}

.portfolio-footer__content {
  @include text-weight(light);
}

.portfolio-footer__icons {
  @include display-flex-only;
  @include justify-content-center;
  @include align-items(center);
  margin-bottom: 10px;
}

.portfolio-footer__icons a {
  margin: 10px;
}
