<div class="portfolio-footer">
  <ul class="portfolio-footer__icons">
    <li><a href="https://www.linkedin.com/in/amarnathchandana" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
    <li><a href="https://stackoverflow.com/u/967638" target="_blank"><i class="fab fa-stack-overflow"></i></a></li>
    <li><a href="https://twitter.com/Amar2Chan" target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://github.com/Amarnath510" target="_blank"><i class="fab fa-github"></i></a></li>
  </ul>
  <p class="portfolio-footer__content">
    Made by Amarnath!
  </p>
</div>