@import '../../styles';

 .portfolio-header {
  @include display-flex-only;
  @include flex-direction(column);
  @include justify-content-center;
  // background-color: rgba(#A95050, 0.2);
  background-color: $dark;
  padding: 1.5em;
}

.portfolio-header__logo {
  text-transform: uppercase;
  font-size: $base-font-xxxl;
  color: $white;
  margin-bottom: 20px;

  a {
    color: #f77070;
  }
}

.portfolio-header__nav {
  @include display-flex-only;
  @include justify-content-center;
  @include list-reset;
}

.portfolio-header__nav a {
  display: block;
  margin-right: 0.5rem;
}

.portfolio-header__nav_active {
  border-bottom: 2px solid $white;
}