.portfolio-header {
  @include display-flex-only;
  @include justify-content-space-around;
}

.portfolio-header__logo {
  text-transform: uppercase;
}

.portfolio-header__nav {
  @include list-reset;
}

.portfolio-header__nav a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}