<section class="portfolio-about">
  <div class="portfolio-about__photo">
      <img src="assets/profile/photo_circle_lg.png" alt="photo" draggable="false"/>
  </div>
  <div class="portfolio-about__info">
    <p class="portfolio-about__info-data">
      Hey, I'm Amarnath!
    </p>
    <p class="portfolio-about__info-data">
      I'm a Full stack developer and my primary interest lies in Frontend development.
    </p>
    <p class="portfolio-about__info-data">
      Currently working as a Senior Development Engineer at 
      <a href="https://www.pramati.com/" class="portfolio-about__link_pramati" target="_blank">Pramati Technologies</a>, Hyderabad, India.
    </p>
  </div>
</section>