@import '../../styles';

.portfolio-about {

}

.portfolio-about__info {
  font-size: $base-font-xlg;
  margin-top: 30px;
}

.portfolio-about__info-data {
  padding: 3px;
}

.portfolio-about__photo img {
  max-width: 400px;
  height: auto;
}

.portfolio-about__photo {
  margin-top: 30px;
}

.portfolio-about__link_pramati {
  @include text-link($red-pramati);
}