@import '../../styles';

.portfolio-about {
  @include display-flex-only;
  @include justify-content-center;
  @include flex-direction(column);
}

.portfolio-about__info {
  font-size: $base-font-xlg;
  margin: 30px 0;
  @include text-weight(regular);

  @media all and (max-width: $screen-md) {
    font-size: $base-font-lg;
  }
}

.portfolio-about__info-data {
  padding: 3px;
}

.portfolio-about__photo {
  margin-top: 30px;

  img {
    max-width: 400px;
    height: auto;

    @media all and (max-width: $screen-md) {
      max-width: 300px;
    }
  }
}

.portfolio-about__link_pramati {
  // @include text-link(#4F48CC);
  @include text-link(blue);
}