<div class="portfolio-about">
  <div class="portfolio-about__photo">
      <img src="../../assets/photo_circle_lg.png" alt="photo"/>
  </div>
  <div class="portfolio-about__info">
    <p>
      Hey, I'm Amarnath!
    </p>
    <p>
      I'm a Full stack developer and my primary interest lies in Frontend development.
    </p>
    <p>
      Currently working as a Senior Development Engineer at 
      <a href="https://www.pramati.com/" class="portfolio-about__link_pramati" target="_blank">Pramati Technologies</a>, Hyderabad, India.
    </p>
  </div>
</div>