@import '../../styles';

.portfolio-experience {
  @include display-flex-only;
  @include align-items(center);
  @include flex-direction(column);
}

.portfolio-experience__card {
  @include display-flex-only;
  @include box-shadow(10px);
  background-color: #d7d2cc;
  margin-top: 2rem;
  // width: 700px;
  border-radius: 5px;

  &:first-child {
    margin-top: 0;
  }
}

.portfolio-experience__logo-container {
  padding: 1rem;
  background-color: $white;

  img {
    max-width: 80px;
    height: auto;
  }

  @media all and (max-width: $screen-md) {
    display: none;
  }

  /* p {
    margin-top: 10px;
    color: $dark;
    max-width: 60px;
  } */
}

.portfolio-experience__exp-details {
  color: $dark;
  padding: 1rem;
}

.portfolio-experience__work {
  @include box-shadow(10px);
  padding: 3rem;
  margin: 2rem;
  background-color: $white;
  border-radius: 5px;
}

.portfolio-experience__section-title {
  @include text-align(right);
  @include text-weight(thicker);
  padding-right: 10px;
  font-size: $base-font-lg;
  padding-top: 2px;
  padding-bottom: 2px;
}