@import '../styles';

.app {
  height: 100vh;
  @include display-flex-only;
  @include flex-direction(column);

  // background: url(../assets/background/wooden_floor.jpg) no-repeat center center fixed; 
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}

.app__main {
  @include flex(1);
  width: 80%;
  margin: 0 auto;
}