
@mixin animation-shake() {
  -webkit-animation: shake 0.3s ease-in-out 0.3s 5 alternate;
  -moz-animation: shake 0.3s ease-in-out 0.3s 5 alternate;
  animation: shake 0.3s ease-in-out 0.3s 5 alternate;
}

@-webkit-keyframes shake {
  from {
    -webkit-transform: rotate(10deg);
  }
  to {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-10deg);
  }
}

@-moz-keyframes shake {
  from {
    -moz-transform: rotate(10deg);
  }
  to {
    -moz-transform-origin: center center;
    -moz-transform: rotate(-10deg);
  }
}
