// screen sizes
$screen-lg: 1000px;
$screen-md: 800px;
$screen-sm: 600px;
$screen-xs: 400px;

// font size
$base-font-sm: 12px;
$base-font-regular: 14px;
$base-font-lg: 16px;
$base-font-xlg: 19px;
$base-font-xxl: 22px;
$base-font-xxxl: 24px;

// icons width
$icon-width-normal: 80px;
$icon-height-normal: 80px;


// border radius
$div-border-radius: 10px;