// font size
$base-font-size: 14px;
$base-font-size_lg: 16px;
$base-font-size_xlg: 20px;
$base-font-size_xxl: 22px;
$base-font-size_xxxl: 24px;


// padding


// icons width
$icon-width-normal: 80px;
$icon-height-normal: 80px;