@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");

$font-family: 'Lato', sans-serif;
$font-family-handwriting: 'Dancing Script', cursive;

@mixin text-weight($weight: bold) {
  @if $weight == bold {
    font-weight: 700;
  }

  @if $weight == regular {
    font-weight: 300;
  }



  @if $weight == light {
    font-weight: 300;
  }
}