* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: $font-family;

  font-size: $base-font-lg;
  @include text-weight(normal);
  color: $white;
  // To generate color background use:
  // https://coolors.co/ to check color combinations then use 
  // https://mycolor.space/gradient to generate color gradients
}

html, body {
  // background-image: radial-gradient(circle, #d08484, #d67f7f, #dd7a7a, #e27575, #e86f70);

  // background: #536976;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  // background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);

  // background: #1D4350;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  // background: #4B79A1;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to left, #283E51, #4B79A1);

  background: linear-gradient(to right, #304352, #d7d2cc);

  // background: repeating-linear-gradient(45deg, blue, red);
}

a {
  @include text-link;
}

.fab {
  font-family: "FontAwesome";
}